{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Monte fuji</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles_montefuji.css' %}" rel="stylesheet" />
    </head>
    <body>
   <!-- Navigation -->
  <div id="nav-container"></div>
  {% include 'nav.html' %}
  </script>
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://ih1.redbubble.net/image.4757588558.8057/flat,750x,075,f-pad,750x1000,f8f8f8.jpg" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: BST-499</div>
                        <h1 class="display-5 fw-bolder">Monte fuji</h1>
                        <div class="fs-5 mb-5">
                        <!-- Product price-->
                           <span class="text-muted text-decoration-line-through">$200.000</span>
                           $180.000
                        </div>
                        <p class="lead">Monte fuji pintura al oleo sobre lienzo sin marco como estan pintados los cantos, trabajo 100% con oleo de alta calidad y espatula, pintura para el interior de tu hogar y emociones positivas para toda la familia. Listo para colgar.</p>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <br>
                            <div class="text-star"><a class="btn btn-outline-dark mt-auto" href="#">Agotado</a></div>
                        </div>
                    </div>
                    </div>
                    <div>
                        <br>
                        <table>
                        <h2>Especificaciones</h2>
                        <tr>
                            <th>Año de creación:</th>
                            <td>2020</td>
                        </tr>
                            <th>Dimensiones:</th>
                            <td>100 A x 70 AL 2P</td>
                        <tr>
                            <th>Tipos de arte:</th>
                            <td>pintura</td>
                        </tr>
                            <th>Estilo:</th>
                            <td>impresionismo</td>
                        <tr>
                            <th>Género</th>
                            <td>paisaje japones</td>
                        </tr>
                            <th>Materiales</th>
                            <td>óleo, lienzo</td>

                    </table></div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Productos relacionados</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Vendido</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://i.etsystatic.com/25412764/r/il/d5aa13/3420582560/il_570xN.3420582560_6bd8.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Paisaje de otoño</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$2.000.000</span>
                                    $1.800.000
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'paisaje_de_otoño' %}">Ver detalles</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Oferta del día</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://tienda.funathome.cl/cdn/shop/products/Perro-Color-Pintando-Por-Numeros-Chile-zoom_1000x.jpg?v=1617896318" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Perro Color</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$2.500.000</span>
                                    $2.000.000
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'perro_color' %}">Ver detalles</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Producto Polular</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://i.etsystatic.com/25412764/r/il/427bfa/2965542078/il_570xN.2965542078_o4vx.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Callejón del bosque</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $3.000.000
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'callejon_del_bosque' %}">Ver detalles</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Producto de lujo</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://i.etsystatic.com/25412764/r/il/eb1468/2925330896/il_300x300.2925330896_b6j2.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Paseo bajo la lluvia</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $5.000.000
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'paseo_de_otoño' %}">Ver detalles</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy;2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
