<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <a href="{% url 'user_create' %}">Crear nuevo usuario</a>
    <ul>
        {% for user in users %}
        <li>{{ user.username }} - {{ user.email }}
            <a href="{% url 'user_update' user.pk %}">Editar</a>
            <a href="{% url 'user_delete' user.pk %}">Eliminar</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
